            .logo{
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                margin: auto;
            }
            .vertical-center{
                display: flex;
                justify-content: center;
                align-items:  center ;
                height: 1150px;
                width: 1300px;
            }

            .input_form{
                background-image: url(https://img.icons8.com/ios-glyphs/30/000000/search--v1.png);
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 1rem;
                border: 1px solid gray;
                padding: 10px;
                width: 630px;
                border-radius: 45px;
                text-indent: 47px;

            }
            .input_form{
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
                padding: 5px;

            }
            input[type="text"].input_form:hover{
                 border: 2px  grey;
            }
            .submitform{
                padding: 1px;
                width: 139px;
                margin: 25px;
                background-color: light;
                text-align: center;
            }
            .submitform:hover{
                border: 2px solid lightgrey;
            }
            .submitform{
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
                padding: 5px;
            }
            .search{
                padding-left: 20px;
